<div class="sidebar-container">
  <div class="user-select-container">
    <label for="user-select">Select user</label>
      <ng-select
        class="custom"
        id="user-select"
        [(ngModel)]="selectedUser"
        [typeahead]="usersInput$"
        (change)="handleChangeUser()"
        (open)="initializeUserList('')"
      >
        @for(user of users; track $index){
          <ng-option [value]="user">{{user.name}} ({{user.role}})</ng-option>
        }
      </ng-select>
  </div>

  @for(group of pages; track $index){
    @if(group.allowedRoles.includes(selectedUserRole)){
      <div class="sidebar-nav-group">
        <h2>{{group.label}}</h2>
        @for(subpage of group.pages; track $index){
          @if(subpage.allowedRoles.includes(selectedUserRole)){
            <a [routerLink]="subpage.link">{{subpage.label}}</a>
          }
        }
      </div>
    }
  }
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
